<div class="container-fluid">
  <div class="row col-md-12">
    <h4>Fullness:</h4>
    <h4>Happiness:</h4>
    <h4>Meals:</h4>
    <h4>Energy:</h4>
  </div>
  <p>Congratulations! You won and your Dojodachi is happy!</p>
  <button class="btn btn-primary">Restart?</button>
</div>